/*/ defaultais /*/
* {
    box-sizing: border-box;
    object-fit: cover;
}
html{
  background: whitesmoke;
}
img{
    width: 100%;
}
/*/ Panelja informācija /*/
.main_saturs{
  {
    background: white;
}
#subkad_teksts {
    margin-top: 10px;
    height: 19px;
    margin-bottom: 17px;
    border-bottom: 2px solid #f5cc06;
}
#subkad_virs {
    margin: 40px 0;
    height: 18px;
    margin-bottom: 17px;
    border-bottom: 2px solid #f5cc06;
}
.subkategorija {
    font-size: 25px;
    width: fit-content;
    background: White;
    margin-left: 25px;
    padding: 0px 15px;
    font-weight: 400;
}
.accordion {
    margin-top: 2px;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    border-bottom: 1px;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
    outline: none;
    border-bottom: 1px solid #e4e4e4;
    border-top: none;
    border-left: none;
    border-right: none;
}
.active{
    transition: none;
}
.accordion:hover {
    background-color: #a5a5a512;
    transition: none;
}
.accordion:after {
    text-align: center;
    content: "Apskatīt";
    float: right;
    padding-right: 10px;
}
.active:after {
    content: "Aizvērt";
}
.a_panel {
    margin: 0 auto;
    max-height: 0;
    margin-bottom: 3px;
    overflow: hidden;
    transition: max-height 0.32s ease-out;
}
#virsrakstu_info {
    border-bottom: 1px solid #7b7b7b;
    display: inline-flex;
    width: 100%;
    padding: 10px 0 5px;
}
#v_plat {
    font-size: 16px;
    font-weight: 500;
    width: 22%;
    text-align: center;
}
#v_plat:last-child{
  width: 12%;
}
#b_plat:first-child {
    font-weight: 600;
}
#b_plat {
    font-size: 14px;
    border-right: 1px solid #dedede;
    width: 100%;
    text-align: center;
}
#baneru_info {
    display: inline-flex;
    width: 89%;
}
#z_v_plat {
    font-size: 16px;
    font-weight: 500;
    width: 22%;
    text-align: center;
}
#z_v_plat:last-child{
  width: 12%;
}
#z_b_plat:first-child {
    font-weight: 600;
}
#z_b_plat {
    font-size: 14px;
    border-right: 1px solid #dedede;
    width: 100%;
    text-align: center;
}
#z_baneru_info {
    display: inline-flex;
    width: 89%;
}
.baneru_informacija {
    font-size: 14px;
    width: 100%;
    padding: 5px 20px;
}
.panel_info {
    padding: 10px;
    width: 100%;
    display: inline-flex;
}
.b_nos{border-right: 1px solid white; padding-right:5px; color:black}
/*/ baneru izvietojumi /*/
.baneru_piemers {
    width: 40%;
}
.izmeru_virsraksti {
    display: flex;
    font-weight: 500;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1px;
    margin-bottom: 3px;
}
.izmeru_teksts{
    display: flex;
}
.info_1 {
    padding-top: 4px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}
.pieejamie_izmeri{font-weight: 500}
