/*/ defaultais /*/
* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
html{
  background: whitesmoke;
}
img{
    width: 100%;
}
/*/ header/*/
#topnav{
  position: relative;
}
.top_stuff{
  display: inline-block;
  padding:0 5px;
  float:right;
}
#lang{
  float:left;
}
#top_header{
    padding: 10px 0;
}
#logo{
    padding: 10px 0;
    width: 200px;
}
#lapas_saturs{
    margin: 0 auto;
    width: 1180px;
}
.first_menu{
  padding: 10px 0;
}
.first_menu_item {
    line-height: 20px;
    display: inline-flex;
    padding: 0px 10px;
    margin-bottom: 4px;
    font-size: 20px;
    border-right: 2px solid grey;
}
.first_menu_item:last-child{
  border-right: none;
}
.second_menu_item {
    display: inline-flex;
    padding: 5px;
    height: 20px;
    margin-bottom: 10px;
}

/*/ saturs/*/

.cover_bilde {
  height: 200px;
  overflow: hidden;
}
.sadalas {
    background: #393a3c;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}
.sadalas_item {
    color: white;
    border: 1px solid whitesmoke;
    font-size: 18px;
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
}
.sadalas_item:hover {
    color: #393a3c;
    background: #f5cc06;
    border: 1px solid #f5cc06;
}

/*/ lapas frame/*/
#header{
  clear: both;
  width:100%;
  border: 1px solid grey;
  height:300px;
}
#sleja{
  float:left;
  width: 60%;
  padding-right:10%;
  border: 1px solid grey;
}
#sidebar{
  float:right;
  width: 30%;
  border: 1px solid grey;
}
/*/ banneri/*/
